.creature-btns {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    overflow: hidden;
}

.creature-btns .small-btn {
    background-color: rgb(74, 174, 197);
}