.delete-btn {
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 4px;
  background-color: rgb(213, 42, 42);
}

.delete-btn:hover {
  cursor: pointer;
  background-color: rgb(225, 133, 133);
  color: black;
}

.delete-btn img {
  max-height: 100%;
}