.intro-box {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.exit-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.exit-btn {
    max-width: 30px;
    object-fit: cover;
    padding: 0;
    line-height: 0;
    background-color: transparent;
}

.exit-btn img {
    max-width: 100%;
}

.exit-btn:hover {
    cursor: pointer;
}

.intro-text {
    margin: 0px 30px 0px 30px;
}

.intro-btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}