.input-form {
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 30px 50px 20px 50px;
    overflow-y: scroll;
}

.input-form textarea {
    border-radius: 8px;
    font-family: var(--heading);
    color: black;
    background-color: rgb(246, 246, 246);
    field-sizing: content;
}

.title-input {
    width: 85%;
}

.content-input {
    width: 100%;
    min-height: 100px;
}

.option-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.category-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.input-form input[type="radio"] {
    aspect-ratio: 1 / 1;
    height: 2em;
}

.input-form input[type="radio"]:hover {
    cursor: pointer;
}

.category-option {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.category-option h2 {
    margin: 0;
}