.post-content {
    width: 100%;
    min-height: 300px;
    max-height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    padding: 30px;
    border-color: rgba(255, 255, 255, 0.5);
    border: solid;
    border-width: 0px 0px 3px 0px;
    overflow: hidden;
    overflow-wrap: break-word;
    text-align: left;
}

.post-details {
    min-width: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
}

.basic-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.basic-details h3 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description-container {
    display: -webkit-box;
    width: 100%;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}